<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 格式化输出：%date表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
    <!-- %logger{36} 表示 Logger 名字最长36个字符 -->
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} %-5level %logger{36} [%line] - %msg%n" />

    <!-- 定义日志存储的路径，不要配置相对路径 -->
    <property name="FILE_PATH" value="D:/logs" />
    <property name="PROJECT_NAME" value="boot" />
    <property name="LOG_LEVEL" value="INFO" />

    <!-- 打印到控制台 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${LOG_LEVEL}</level>
        </filter>
        <encoder>
            <pattern>
                %date %-5level [%-40thread] [%-30file:%-7line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 不同級別的文件記錄在不同的日誌文件中 -->
    <appender name="FILEINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <file>${FILE_PATH}/${PROJECT_NAME}/${PROJECT_NAME}-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${FILE_PATH}/${PROJECT_NAME}/${PROJECT_NAME}-info.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <MaxHistory>3</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

  <!--  &lt;!&ndash; 数据同步 &ndash;&gt;
    <appender name="SYNC_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <file>${FILE_PATH}/${PROJECT_NAME}/sync.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${FILE_PATH}/${PROJECT_NAME}/sync.%d{yyyy-MM-dd}.log.zip
            </fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>

        <encoder> <pattern>{"time": "%date", %msg}%n</pattern>
        </encoder>
    </appender>-->

    <appender name="FILEERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <file>${FILE_PATH}/${PROJECT_NAME}/${PROJECT_NAME}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${FILE_PATH}/${PROJECT_NAME}/${PROJECT_NAME}-error.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <MaxHistory>3</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="FILEDEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <file>${FILE_PATH}/${PROJECT_NAME}/${PROJECT_NAME}-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${FILE_PATH}/${PROJECT_NAME}/${PROJECT_NAME}-debug.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <MaxHistory>3</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <!--每天生成一个日志文件，保存15天的日志文件。rollingFile是用来切分文件的 -->
   <!-- <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_PATH}</fileNamePattern>
            &lt;!&ndash; keep 15 days' worth of history &ndash;&gt;
            <maxHistory>15</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                &lt;!&ndash; 日志文件的最大大小 &ndash;&gt;
                <maxFileSize>60MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>-->
    <!-- 级别从小到达：ERROR、WARN、INFO、DEBUG -->
    <!--用户指定包下 打印等级大于等于INFO级别-->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache.activemq" level="INFO" />
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="com.wallian" level="${LOG_LEVEL}"/>


    <!-- 其它包下的打印超过 WARN级别的 -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILEINFO"/>
        <appender-ref ref="FILEERROR"/>
        <appender-ref ref="FILEDEBUG"/>
    </root>
</configuration>